---
layout: page
title: Computer Vision
---

<ul>
{% for category in site.categories %}
    {% for posts in category %}
        {% for post in posts %}
                {% if post.category == page.title %}
  <li>
      <a href="{{ post.url }}"><strong>{{ post.title }}</strong></a>
  </li>

    <span class="post-date">{{ post.date | date_to_string }}</span>
    {% include post_tags.html %}
    {{ post.content }}
    <hr size="10px">
               {% endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}

</ul>
